torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
lightning==2.5.0
thop==0.1.1.post2209072238
soundfile==0.13.1
matplotlib==3.10.1
pandas==2.2.3
levenshtein==0.27.1
# https://github.com/kpu/kenlm/archive/master.zip
transformers==4.50.3

# git clone https://github.com/coqui-ai/TTS
# cd TTS
# pip install -e .  # Select the relevant extras